#results{
    height:100dvh;
    width:100%;
    background-image: linear-gradient(to right, #8360c3, #2ebf91);
}

  #loading{
    background-color: black;
    height: 100dvh;
    width: 100%;
  }
  #h1Loading{
    margin: 0;
    padding: 0;
    font-family: ‘Arial Narrow’, sans-serif;
    font-weight: 100;
    font-size: 32px;
    color: #a3e1f0;
  }
  .button{
   
      font-size: 1em;
      padding: 10px;
      color: #fff;
      border: 2px solid #06D85F;
      border-radius: 20px/50px;
      text-decoration: none;
      cursor: pointer;
      transition: all 0.3s ease-out;
    
  }
  .beauty
  {
     text-transform: uppercase;
    background-image: linear-gradient(
      -225deg,
      #231557 0%,
      #44107a 29%,
      #ff1361 67%,
      #fff800 100%
    );
    background-size: auto auto;
    background-clip: border-box;
    background-size: 200% auto;
    color: #fff;
    background-clip: text;
    text-fill-color: transparent;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    animation: textclip 2s linear infinite;
    display: inline-block;
        font-size: 190px;
  }
  
  @keyframes textclip {
    to {
      background-position: 200% center;
    }
  }
  .testh1{
    display: block;
    font-family: times, Times New Roman, times-roman, georgia, serif;
	color: #444;
	margin: 0;
	padding: 0px 0px 6px 0px;
	font-size: 51px;
	line-height: 44px;
	letter-spacing: -2px;
	font-weight: bold;
  }
  #heat{
    padding-top:5px ;
    font-size: 32px;
    background: -webkit-linear-gradient(315deg, #ff4e00 0%, #ec9f05 74%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;

  }
  #heatTitle{
    padding-top:5px ;
    font-size: 62px;
    background: -webkit-linear-gradient(315deg, #ff4e00 0%, #ec9f05 74%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;

  }
  #cold{
    padding-top:5px ;
    font-size: 32px;
   
   
    background-image: linear-gradient(315deg, #36096d 0%, #2048b5 74%);
    
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
  #coldTitle{
    padding-top:5px ;
    font-size: 62px;
    background-image: linear-gradient(315deg, #36096d 0%, #2048b5 74%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
  .testh3{
    display: block;
    font-family: 'Montserrat';
    margin-top: 2em;
    margin-bottom: 1.5em;
    font-size: 30px;
    line-height: 1.1em;
    font-weight: 600;
  }
  span {
    position: relative;
    top: 0.63em;  
    display: inline-block;
    text-transform: uppercase;  
    opacity: 0;
    transform: rotateX(-90deg);
  }
  
  .let1 {
    animation: drop 1.2s ease-in-out infinite;
    animation-delay: 1.2s;
  }
  
  .let2 {
    animation: drop 1.2s ease-in-out infinite;
    animation-delay: 1.3s;
  }
  
  .let3 {
    animation: drop 1.2s ease-in-out infinite;
    animation-delay: 1.4s;
  }
  
  .let4 {
    animation: drop 1.2s ease-in-out infinite;
    animation-delay: 1.5s;
  
  }
  
  .let5 {
    animation: drop 1.2s ease-in-out infinite;
    animation-delay: 1.6s;
  }
  
  .let6 {
    animation: drop 1.2s ease-in-out infinite;
    animation-delay: 1.7s;
  }
  
  .let7 {
    animation: drop 1.2s ease-in-out infinite;
    animation-delay: 1.8s;
  }
  
  @keyframes drop {
      10% {
          opacity: 0.5;
      }
      20% {
          opacity: 1;
          top: 3.78em;
          transform: rotateX(-360deg);
      }
      80% {
          opacity: 1;
          top: 3.78em;
          transform: rotateX(-360deg);
      }
      90% {
          opacity: 0.5;
      }
      100% {
          opacity: 0;
          top: 6.94em
      }
  }
  .box {
    width: 40%;
    
    margin: 0 auto;
    background: rgba(255,255,255,0.2);
    padding:35px;
    border: 2px solid #fff;
    border-radius: 20px/50px;
    background-clip: padding-box;
    text-align: center;
  }
  .button:hover {
    background: #06D85F;
  }
  .overlay {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: rgba(0, 0, 0, 0.7);
    transition: opacity 500ms;
    visibility: hidden;
    opacity: 0;
  }
  .overlay:target {
    visibility: visible;
    opacity: 1;
  }
  .popup {
    margin: 70px auto;
    padding: 20px;
    background: #fff;
    border-radius: 5px;
    width: 60%;
    
    position: relative;
    transition: all 5s ease-in-out;
  }
  
  .popup h2 {
    margin-top: 0;
    color: #333;
    font-family: Tahoma, Arial, sans-serif;
  }
  .popup .close {
    position: absolute;
    top: 20px;
    right: 30px;
    transition: all 200ms;
    font-size: 30px;
    font-weight: bold;
    text-decoration: none;
    color: #333;
  }
  .popup .close:hover {
    color: #06D85F;
  }
  .popup .content {
    max-height: 30%;
    overflow: auto;
  }
  
  @media screen and (max-width: 700px){
    .box{
      width: 70%;
    }
    .popup{
      width: 70%;
    }
  }
  


.formButton {
  position: relative;
  border: none;
  background: transparent;
  padding: 0;
  cursor: pointer;
  outline-offset: 4px;
  transition: filter 250ms;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

  


/* CSS */
.formButton {
  appearance: button;
  background-color: transparent;
  background-image: linear-gradient(to bottom, #fff, #f8eedb);
  border: 0 solid #e5e7eb;
  border-radius: .5rem;
  box-sizing: border-box;
  color: #482307;
  column-gap: 1rem;
  cursor: pointer;
  display: flex;
  font-family: ui-sans-serif,system-ui,-apple-system,system-ui,"Segoe UI",Roboto,"Helvetica Neue",Arial,"Noto Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
  font-size: 100%;
  font-weight: 700;
  line-height: 24px;
  margin-left:auto;
  margin-right:auto;
  margin-top:20px;
  margin-bottom:10px;
  outline: 2px solid transparent;
  padding: 1rem 1.5rem;
  text-align: center;
  text-transform: none;
  transition: all .1s cubic-bezier(.4, 0, .2, 1);
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  box-shadow: -6px 8px 10px rgba(81,41,10,0.1),0px 2px 2px rgba(81,41,10,0.2);
}

.formButton:active {
  background-color: #f3f4f6;
  box-shadow: -1px 2px 5px rgba(81,41,10,0.15),0px 1px 1px rgba(81,41,10,0.15);
  transform: translateY(0.125rem);
}

.formButton:focus {
  box-shadow: rgba(72, 35, 7, .46) 0 0 0 4px, -6px 8px 10px rgba(81,41,10,0.1), 0px 2px 2px rgba(81,41,10,0.2);
}
  
label{
  font-size:34px;
  display:block;
  margin-left: auto;
  margin-right: auto;
}



.formInput {
  font-family: inherit;
  width: 60%;
  border: 0;
  border-bottom: 2px solid gray;
  outline: 0;
  font-size: 1.3rem;
  color: black;
  padding: 7px 0;
  background: transparent;
  transition: border-color 0.2s;

  &::placeholder {
    color: transparent;
  }

  &:placeholder-shown ~ .formLabel {
    font-size: 1.3rem;
    cursor: text;
    top: 20px;
  }
}

.formLabel {
  font-family: Georgia, "Times New Roman", Times, serif;
  font-size:24px;
margin-top: 30px; margin-bottom: 0px;
text-align: center;
  font-weight: normal;
  position: relative;
  top: 0;
  display: block;
  transition: 0.2s;
  font-size: 48px;
  color: gray;
}
.formText{
  color: black;
  font-family: 'freight-big-pro';
  font-size: 30px;
  font-weight: normal;
  overflow-wrap: break-world;
  letter-spacing: 1px;
  
}
.formHead{
  font-weight: 400;
     color: #333;
     font-size: 32px;
     font-family: 'Franziska, Georgia, Cambria';
}
.formInput:focus {
  ~ .formLabel {
    position: absolute;
    top: 0;
    display: block;
    transition: 0.2s;
    font-size: 1rem;
    color: #11998e;
    font-weight:700;    
  }
  padding-bottom: 6px;  
  font-weight: 700;
  border-width: 3px;
  border-image: linear-gradient(to right, #11998e,#38ef7d);
  border-image-slice: 1;
}
/* reset input */
.formInput{
  &:required,&:invalid { box-shadow:none; }
}
.questionCss{
  background-image: linear-gradient( 95.2deg, rgba(173,252,234,1) 26.8%, rgba(192,229,246,1) 64% );


  height: 100dvh;
  margin-top:-30px;
}
.formImage{
  max-height:300px;
}
